.tags {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;

    &__container {
        display: flex;
        column-gap: 32px;
        row-gap: 12px;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__item {
        display: block;
        @include m-text(1, var(--text));
        font-size: 20px;
        text-align: center;
        font-weight: 400;
        border: none;
        cursor: pointer;
        transition: .3s;

        &:after {
            display: block;
            content: attr(title);
            font-weight: 600;
            height: 0;
            overflow: hidden;
            visibility: hidden;
        }

        &:hover {
            font-weight: 600;
        }
    }

    &__error {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}