.btn {
    width: 232px;
    height: 50px;
    border: none;
    background-color: $skyblue;
    border-radius: 50px;
    @include m-text(1, var(--bg-color));
    cursor: pointer;

    &:hover {
        filter: drop-shadow(0px 0px 16px rgba(15, 38, 211, 0.6));
    }
}