.card {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 300px;
    border-radius: 16px;
    background-color: var(--color);

    &__field {
        display: flex;
        flex-direction: column;
        border-radius: 16px 16px 0 0;
        cursor: pointer;

        &_obverse {
            background: $magenta;
        }

        &_reverse {
            color: var(--bg-color);
        }
    }

    &__btns {
        display: grid;
        height: 80px;
        grid-template-columns: 1fr 1fr;
    }

    &__btn {
        background: none;
        border: none;
        @include m-text(1, var(--bg-color));
        box-shadow: 0px 4px 4px 0px var(--shadow-light) inset;
        cursor: pointer;

        &:hover {
            box-shadow: 0px 4px 4px 0px var(--shadow-strong) inset;
        }

        
        &:active {
            box-shadow: 0px 8px 8px 0px var(--shadow-strong) inset;
        }

        // &_failure {
            
        // }

        // &_success {
        //     box-shadow: 0px 4px 4px 0px var(--shadow) inset;
        // }
    }

    &__add-info {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        padding-bottom: 0;
        @include card-add-text;
    }

    &__content-container {
        display: flex;
        height: 176px;
        align-items: center;
        justify-content: center;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 6px;
        text-align: center;
    }

    &__desc {
        @include card-main-text;
    }

    &__trans {
        @include card-trans-text;
    }
}