.menu {

    &__list {
        display: flex;
        list-style-type: none;
        gap: 32px;
    }

    &__link {
        border: none;
        background-color: transparent;
        cursor: pointer;
        @include s-text(0.6, var(--color));

        &:hover {
            opacity: 1;
        }

        &_active {
            opacity: 1;
        }
    }
}

