@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;500;600;700&family=Monoton&display=swap');

@import "./tech";
@import '../components/UI/Logo/logo';
@import "../components/Pages/Offer/offer";
@import "../components/Header/header";
@import "../components/UI/Navbar/nav";
@import "../components/UI/Button/button";
@import "../components/Footer/footer";
@import "./table";
@import "../components/UI/Input/input";
@import "../components/Form/form";
@import '../components/Pages/Dictionary/dictionary';
@import "../components/UI/SearchForm/search-form";
@import "../components/UI/Select/select";
@import "../components/Pages/Flashcards/flashcards";
@import "../components/Tags/tags";
@import "../components/Cards/cards";
@import "../components/Card/card";
@import "../components/UI/ModalWindow.jsx/modal";
@import "../components/UI/Error/error";

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    scrollbar-width: 6px;
    scrollbar-color: #5468FF20;
  }
  
  *, 
  *::before, 
  *::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
  }

body {
    background-color: var(--bg-color);
    font-family: "Lato";
}

a {
    text-decoration: none;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: clamp(335px, 100vw, 1440px);
    min-height: 100vh;
    margin: 0 auto;
    padding: 0 20px;
}

.text-orange {
    @include text-color($orange);
}

.text-blue {
    @include text-color($blue);
}

.text-white {
    @include text-color(var(--color));
}

.text-magenta {
    @include text-color($magenta);
}

.title {
    @include m-text(1, var(--color));
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 70px;
}

.warning {
    @include s-text(.6, var(--color));
    text-align: center;
    margin: 70px 0;
}

.main {
    margin: 0 auto;
}

.margin35 {
    margin-top: 35vh;
}

.margin38 {
    margin-top: 138px;
}

