@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;500;600;700&family=Monoton&display=swap');

@import "./tech";
@import "./logo";
@import "./offer";
@import "./header";
@import "./nav";
@import "./button";
@import "./footer";
@import "./table";
@import "./input";
@import "./form";
@import "./dictionary";
@import "./search-form";
@import "./select";
@import "./flashcards";
@import "./tags";
@import "./cards";
@import "./card";

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    scrollbar-width: 6px;
    scrollbar-color: #5468FF20;
  }
  
  *, 
  *::before, 
  *::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
  }

body {
    background-color: var(--bg-color);
    font-family: "Lato";
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: clamp(335px, 100vw, 1440px);
    min-height: 100vh;
    margin: 0 auto;
    padding: 0 20px;
}

.text-orange {
    @include text-color($orange);
}

.text-blue {
    @include text-color($blue);
}

.text-white {
    @include text-color(var(--color));
}

.text-magenta {
    @include text-color($magenta);
}

.title {
    @include m-text(1, var(--color));
    text-transform: uppercase;
    text-align: right;
    margin: 168px 0 70px;
}

.warning {
    @include s-text(.6, var(--color));
    text-align: center;
    margin: 70px 0;
}

